.basic-grid {
    display: grid;
    gap: 10rem; 
    grid-template-columns: 1fr;
    margin-left: 10%;
    width: 80%;
}


.left-side .social-wrapper {
    display: grid;
    gap: 1x; 
    grid-template-columns: 1fr;

}

.box {
    display: flex;
    max-height: 100%;
}

.media img {
    max-width: 5%;

}
.name {
    max-width: 100%;
    color: white;
}
.socialtext {
    color: white;
}
.media a {
    text-decoration: none;
}

.media {
    display: flex;
    justify-content: center;
    gap: 10px
}
.media .socialbox {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

}

.left-sidem {
    max-width: 50%;
    margin-right: -9%;
    margin-left: 5%;
}

.left-side {
    width: 75%;
    max-width: 75%;
    margin-right: -9%;
    margin-top: 5%;
    text-align: center;
    user-select: none;

}
.right-side {
    width: 100%;
    max-width: 100%;
}

.set {
    width: 75%;
    max-width: 75%;
    margin-left: 3.5%;   

}

.set h3  {
    color: white;
    text-decoration: underline;
}
.set .paragraph {
    color: gray;
    text-align: justify;
}

.image-containor img {
    max-width: 50%;
}

