

body {
    background-color: rgb(24,24,24); 
  
}


.page-contaier {
    position: relative;
    min-height: 100vh;
 
}

.content-wrap {
    padding-bottom: 2.5rem;
}
.marginleft {
    display: flex;
    position: fixed;
    color: white;

}


.headings {
    width: 100%;
    display: inline-flex;
    user-select: none; 
}

.pages {
    display: inline-block;
    position: absolute;
    right: 16px;
    
}
.pages h2 .external {
    display: inline;
}

.pages h2 li {
    display: inline-flex;
    margin-left: 5px;

}


.pages h2 .external li a {
    color: gray;
    text-decoration: none;
    transition: 0.3s;
}
.pages h2 .external li a::after{

    content: '';
    width: 0%;
    height: 2px;
    background: white;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.pages h2 .external li a:hover{
    color: white;
}
.pages h2 .external li a:hover::after {
    width: 100%;
}

.middle {
    margin-top: 60px;
    text-align: center;
    top: 15%;
    width: 99%;
    animation: slide-up 2s;
    
}
.middle .welcome {
    user-select: none; 
    padding-bottom: 24px;
    color: white;
    font-size: xx-large;
}



.socials {
    user-select: none;
    width: 100px;
    display: list-item;
    position: fixed;
    top: 35%;
}


.socials img {
    width: 75px;
    height: auto;
    margin: auto 5px;
    float: left;
}

@keyframes slide-up {

    0% {
        transform: translateY(600px);
    }
    100% {
        transform: translateY(0);
    }
}

.footer {
    position: fixed;
    bottom: 0;
    color: white;
    user-select: none; 
}
